*.pt
wandb/*
__pycache__/*
Detection/__pycache__/*
Detection/wandb/
/downloadNYC/example/
/downloadNYC/pano/
/downloadNYC/pano_temp/
images
/experiment_nyc
/experiment_labelbox
downloadNYC/apiKey.json